.app {
  height: 100vh;
  width: 100%;
}
.rown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #1c658f;
  padding: 10px 0px;
}

.rown .right {
  display: flex;
  align-items: center;
}

.right span {
  font-size: 25px;
}

.content1 {
  font-size: 1.2rem;
}

.content1 span {
  font-weight: 600;
}

.content2,
.content3,
.content4 {
  margin: 0px 20px !important;
}

@media only screen and (max-width: 415px) {
  .rown {
    flex-direction: column;
  }

  .rown .right {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .content2,
  .content3,
  .content4 {
    margin: 0px 9px !important;
  }
}
